deployment/secrets.py

__pycache__/
**/__pycache__/

/media
/static

.idea/

config/local_settings.py

/.venv
/logs/

*.sqlite3

*model_evaluation.json
*model_evaluation_cache.json
*weather_archive_cache.pkl