{% load l10n %}
{% comment %}Beach cam Gallery items default container{% endcomment %}
{% localize off %}
<section id="{{ id }}" class="container">
  <!--<div class="separator py-2"></div>-->
  <div id="map"></div>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      {% if current_cam %}
        map_add_beachcam({
          name: "{{ current_cam.beach.beach_name }}",
          current: true,
          slug: "{{ current_cam.camera_slug }}",
          latitude: {{ current_cam.camera_latitude }},
          longitude: {{ current_cam.camera_longitude }},
          max_crowd_count: {{ current_cam.max_crowd_count }},
          last_prediction: {% if current_cam.last_prediction %}{{ current_cam.last_prediction.predicted_crowd_count }}{% else %}null{% endif %}
        });
      {% endif %}
      {% for cam in cams %}
        map_add_beachcam({
          name: "{{ cam.beach.beach_name }}",
          current: false,
          slug: "{{ cam.camera_slug }}",
          latitude: {{ cam.camera_latitude }},
          longitude: {{ cam.camera_longitude }},
          max_crowd_count: {{ cam.max_crowd_count }},
          last_prediction: {% if cam.last_prediction %}{{ cam.last_prediction.predicted_crowd_count }}{% else %}null{% endif %}
        });
      {% endfor %}
      map_make();
    });
  </script>
</section>
{% endlocalize %}