{% load i18n %}
{% load static %}
<footer class="p-3 my-4 border-top">
  <div class="links">
    <p>{% translate "github-link" %}</p>
    <p>{% translate "cite-paper-ccia25" %}</p>
    <p>{% translate "based-in" %}</p>
  </div>
  <div class="acknowledgements">
    <p>{% translate "ack-hesocodice" %}</p>
  </div>
  <div class="logos">
    <a href="https://dmi.uib.{% translate 'tld' %}/"><img src="{% static 'images/logos/Logo_UIB.png'%}"></a>
    <a href="https://scopia.uib.{% translate 'tld' %}/"><img src="{% static 'images/logos/Logo_Scopia.png'%}"></a>
    <a href="https://ltim.uib.es/"><img src="{% static 'images/logos/Logo_LTIM.png'%}"></a>
    <img src="{% static 'images/logos/Logo_MICIU.jpg'%}">
  </div>
</footer>
