{% extends 'core/parent.html' %}

{% load static %}

{% block title %}
  Analitza sa teva foto d'una platja
{% endblock %}

{% block content %}
  <section id="image-uploader">
    <div class="container d-flex flex-column align-items-center">
      <form id="main-form" class="image-uploader text-center" action="/analyze-image/" method="post">
        {% csrf_token %}
        {{ form }}
        <div class="d-flex align-items-center">
          <input type="submit" class="btn btn-primary my-3" value="Analitzar Imatge" style="display: none;" />
        </div>
        <canvas id="img-viewer" class="canvas-img mw-100" src="#" alt="La imagen aparecerá aquí" style="display: none;"></canvas>
      </form>
    </div>
  </section>
{% endblock %}

{% block scripts %}
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="{% static 'app.js' %}" type="module"></script>
{% endblock %}
