/* 
* Global styles for pages and components
*/
@import "css/galleryItem.css";
@import "css/utils.css";
@import "css/loader.css";

/* 
* Rule body always minimum heigth 100% of the viewport
*/
body {
    min-height: 100vh !important;
}

footer .logos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 10px;
}

footer .logos img {
    height: 100px;
}