<style></style>

<div class="galleryItem col-xl-3 col-lg-4 col-md-6 mb-5 px-4">
  <div class="bg-white rounded shadow-sm">
    <img src="{{ cam.url_image }}" alt="" class="img-fluid card-img-top min-h-150" />
    <div class="p-4">
      <h5><a href="#" class="text-dark text-decoration-none">{{ cam.beach_name }}</a></h5>
      <p class="small text-muted mb-0">{{ cam.description }}</p>
      <div class="pill d-flex align-items-center justify-content-between bg-primary text-light px-3 py-2 mt-4">
        <p class="small mb-0">
            Estimat de gent actual: {{ prediction.getCrowdCount }}
        </p>        
      </div>
    </div>
  </div>
</div>
