{% comment %}Generic bootstrap header{% endcomment %}

<header class="d-flex justify-content-center py-5">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a href="/" class="nav-link {% if active_url == '/' %}active{% endif %}">Inici</a>
    </li>
    <li class="nav-item">
      <a href="/#platges" class="nav-link">Platges</a>
    </li>
    <li class="nav-item">
      <a href="#" onclick="alert('Aun no hago nada pero pronto lo haré')" class="nav-link">Analitza imatge</a>
    </li>
  </ul>
</header>
